.camisetas{
    margin: 1rem 0;
    outline: 1px solid rgb(212, 211, 211);
    background-color: rgba(226, 226, 226, 0.521);
    padding: 1rem 0;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}
p{
    margin: 1rem 0;
    font-family: sans-serif;
}

footer ul{
    list-style: none;
    font-family: sans-serif;
}

/* CELULARES */
@media (min-width: 576px) {
    
}
/* TABLETS */
@media (min-width: 768px) {
    
}
/* DESKTOPS */
@media (min-width: 992px) {
    
}
/* LARGE DESKTOPS */            
@media (min-width: 1200px) {
    
}